*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    text-align: center;
}

h1{
    background-color: #1E212B;
    color: #fff;
    font-size: 1.5rem;
    height: 3rem;
    line-height: 3rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    cursor: pointer;
}

.choice img:hover{
    opacity: 0.7;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 3rem;
}

#user-score, #comp-score{
    font-size: 3rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    border: 1px solid #1E212B;
    font-size: 1.5rem;
    color: #000;
    display: inline;
    padding: 1rem;
    border-radius: 5px;
}